<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Three</title>
    <link rel="stylesheet" type="text/css" href="./resources/styles.css">
    <link rel="icon" href="https://pereira1010.github.io/assignment-2-repo/resources/favicon.svg" type="image/svg+xml">

</head>
<body>
    <!-- Add the banner section -->
    <div class="banner">
    <nav class="menu">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="two.html">Page Two</a></li>
            <li><a href="three.html">Page Three</a></li>
        </ul>
    </nav>
        <svg>
            <g opacity="0.7">
                
                <!-- Car body (back view) -->
                <rect x="100" y="125" width="300" height="85" fill="gray" /> <!-- working on-->
        
                <!-- Spoiler -->
                <rect x="50" y="100" width="400" height="15" fill="black" />
                <polygon points="150,125 150,115 130,115" fill="black" />
                <polygon points="350,125 350,115 370,115" fill="black" />

              
                <!-- Tires -->
                <rect x="100" y="210" width="55" height="40" fill="black" />
                <rect x="345" y="210" width="55" height="40" fill="black" />
              
                <!-- Lights -->
                <circle cx="170" cy="155" r="12.5" fill="red" />
                <circle cx="330" cy="155" r="12.5" fill="red" />
                <circle cx="130" cy="155" r="15" fill="red" />
                <circle cx="370" cy="155" r="15" fill="red" />
        
                <!-- Text: Go-Kart Racer -->
                <text x="250" y="240" font-size="24" font-family="Inter, sans-serif" text-anchor="middle" fill="black">Go-Kart Racer!</text>
            </g>
    </div>
    <div class="content">
    <h1>SVG Animation is easy!</h1>
    <img src="/Users/karcha/Desktop/CSC%20317/assignment-2-repo/resources/page-three.svg" alt="Go Kart Track" width="500" height="300" />
    <img src="/Users/karcha/Desktop/CSC%20317/assignment-2-repo/resources/custom.svg" alt="Go Kart Track" width="500" height="300" />
    </div>
</body>
</html>
