<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Two</title>


</head>
<body>

    <nav class="menu">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="two.html">Page Two</a></li>
            <li><a href="three.html">Page Three</a></li>
        </ul>
    </nav>

    <!-- Content of Page Two -->
    <div class="content">
        <h1>Favorite Coding Resources</h1>
        <div class = "table">
        <table border="1">
            <caption>Top 3 Resources</caption>
            <thead>
                <tr>
                    <th>Coding Resource</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Udemy</td>
                    <td><a href="https://www.udemy.com/">https://www.udemy.com/</a></td>
                </tr>
                <tr>
                    <td>Datacamp</td>
                    <td><a href="https://www.datacamp.com/">https://www.datacamp.com/</a></td>
                </tr>
                <tr>
                    <td>W3Schools</td>
                    <td><a href="https://www.w3schools.com/">https://www.w3schools.com</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

</body>
</html>
